{% extends 'examples/dashboard/base.html' %}
{% load staticfiles %}

{% block body_id %}id_dashboard_index{% endblock body_id %}

{%  block dashboard_inner %}
<div class="row">
    <div class="col-sm-3 col-md-2">
        <div class="panel panel-default">
          <div class="panel-heading">Mes amis</div>
                <ul class="list-group">
                	{% for people in friend %}
                    <li class="list-group-item"><a href="#TODO" title="Voir les détails de {{ people }}">{{ people }}</a></li>
                    {% endfor %}
                </ul>

                  <div class="panel-body">
                      <button type="button" class="btn btn-success btn-block" data-toggle="modal" data-target="#id_add_friend_modal">Ajouter un ami</button>
                  </div>

        </div>
    </div>

    <div class="col-sm-9 col-md-10">
        <div class="row">
            <div class="col-sm-3 col-md-2"><button type="button" class="btn btn-success" title="Nouveau message" data-toggle="modal" data-target="#id_new_message_modal">Nouveau message</button></div>
            <div class="col-sm-3 col-md-2"><button type="button" class="btn btn-success" title="Demandes en attente" data-toggle="modal" data-target="#id_waiting_friends_modal">Demandes en attente <span class="badge">{{ Compteur }}</span></button></div>
        </div>

        <div class="row" id="id_messages_list_row">
            <div class="col-sm-12">
              <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>Pseudo</th>
                      <th>Date</th>
                      <th>Etat</th>
                    </tr>
                  </thead>

                  <tbody>
                  	{% for message in message %}
                  	{% if message.etat %}
                    <tr class="success">
					{% else %}          
					<tr class="danger">
					{% endif %}          	
                    	<td>{{ message.emetteur }}</td>
                    	<td>{{ message.date }}</td>
                    	{% if message.etat %}
                    	<td>Lu</td>
                    	{% else %}
                    	<td>Non lu</td>
                    	{% endif %}
                    </tr>
                    {% endfor %}
                  </tbody>
              </table>

                <nav class="pull-right">
                  <ul class="pagination">
                    <li>
                      <a href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                      </a>
                    </li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li>
                      <a href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                      </a>
                    </li>
                  </ul>
                </nav>
            </div>
        </div>
    </div>

<div class="modal fade" id="id_add_friend_modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Ajouter un ami</h4>
      </div>
      <form action="." method="POST" enctype='multipart/form-data'>
      <div class="modal-body">
        <table class="table table-hover">
                      <thead>
                        <tr>
                          <th colspan="2">Pseudo</th>
                        </tr>
                      </thead>

                      <tbody>
                      	{% for people in user %}
                      	{% if people.username != me.username and people.membre not in friend and people.membre not in ask and people.membre not in attente and people.username != "admin" %}
                        <tr>
                          <td class="success">{{ people.username }}</td>
                          <td><input type="checkbox" name="demande" value={{ people }}></td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                        </tbody>
        </table>
      </div>
      <div class="modal-footer">
      	{% csrf_token %}
        <button type="submit" name="envoyer_demande" class="btn btn-success">Envoyer une demande d'ajout</button>
      </div>
      </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="id_waiting_friends_modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Demandes d'ajout en attente</h4>
      </div>
      <form action="." method="POST">
      <div class="modal-body">
      	<table class="table table-hover">
			<thead>
		    	<tr>
		        	<th colspan="2">Pseudo</th>
		        </tr>
		    </thead>
		
		    <tbody>
		    {% for people in ask %}
		        <tr>
		        	<td class="success">{{ people }}</td>
		          	<td><input type="checkbox" name="who" value={{ people }}></td>
		        </tr>
		    {% endfor %}
		    </tbody>
        </table>
      </div>
      <div class="modal-footer">
      	{% csrf_token %}
        <button type="submit" class="btn btn-danger" name="refuser_demande">Refuser la/les demandes</button>
      	<button type="submit" class="btn btn-success" name="accepter_demande">Accepter la/les demandes</button>
      </div>
      </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="id_new_message_modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Nouveau message</h4>
      </div>
      <form action="." method="POST" enctype='multipart/form-data'>
      <div class="modal-body">
        <table class="table table-hover">
                      <tbody>
						<tr>
							<td>Destinataire:</td>
							<td>
								<select name="destinataire" required>
									{% for people in friend %}
									{% if people != me.username and people != "admin" %}
								  	<option value={{ people }}>{{ people }}</option> 
								  	{% endif %}
									{% endfor %}
								</select>
							</td>
						</tr>
						<tr>
							<td>Pièce jointe: </td>
							<td><input name="pj" type="file"/></td>
						</tr>
						<tr>
							<td>Message: </td>
							<td><textarea name="message" rows="10" cols="50" maxlength="500" required></textarea></td>	
						</tr>
						<tr>
							<td>Durée du message: </td>
							<td>
								<select name="duree" required>
									<option value="1">1 sec</option> 
									<option value="3">3 sec</option> 
									<option value="10">10 sec</option> 
								</select>	
							</td>	
						</tr>
                      </tbody>
        </table>
      </div>
      <div class="modal-footer">
      	{% csrf_token %}
        <button type="submit" name="envoyer_message" class="btn btn-success">Envoyer</button>
      </div>
      </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{%  endblock dashboard_inner %}