{% extends 'base.html' %}


{% block content %}
<div class="container">
	<div class="row">
		<div class="col-sm-12">
		
		<div class="panel panel-warning">
			  <div class="panel-heading">
			    <h3 class="panel-title">Attention</h3>
			  </div>
			  <div class="panel-body">
			    	Maintenance en cours.
			  </div>
			</div>
		</div>
	</div>
</div>
{% endblock content %}