{% extends 'base.html' %}
{% load staticfiles %}

{% block body_id %}id_index{% endblock body_id %}

{% block extrastyles %}<link href="{% static 'css/index.css' %}" rel="stylesheet">{% endblock %}

{% block content %}
<div class="container-fluid">
	<div class="row">
		<h3 align="center">Comment ça marche ?</h3>
		<p align="center">Explications</p>
		<center><a href="../"><input type="button" value="Retour"/></a></center>
	</div>
</div>
{% endblock content %}